{% extends 'builder/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login-signup.css' %}">

<div style="margin-top:150px;"></div>
<form method="post" action="{% url 'login_view' %}">
  {% csrf_token %}
  <div class="con">
    <header class="head-form">
      <h2>Log In</h2>
      <p>login here using your username and password</p>
    </header>
    <br>
    {% if message %}
      <p id="message">{{ message }}</p>
    {% endif %}
    <div class="field-set">
      <span class="input-item">
        <i class="fa fa-user-circle"></i>
      </span>
      <input class="form-input" id="txt-input" type="text" name="identifier" placeholder="Username, Email, contact" required>
      <br>
      <span class="input-item">
        <i class="fa fa-key"></i>
      </span>
      <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required>
      <span>
        <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i>
      </span>
      <br>
      <button class="log-in" type="submit"> Log In </button>
    </div>
    <div class="other">
      <button class="btn submits frgt-pass">Forgot Password</button>
      <button class="btn submits sign-up" onClick=location.href="{% url 'signup' %}">Sign Up 
        <i class="fa fa-user-plus" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</form>

<script>
  // Check if the user is already registered
  const isRegistered = {{ user.is_authenticated|yesno:"true,false" }};
   
  // Display the message only if the user is registered
  if (isRegistered) {
    const messageElement = document.getElementById('message');
    if (messageElement) {
      messageElement.style.color = 'red';
      messageElement.style.fontSize = '15px';
      messageElement.style.fontWeight = '600';
    }
  }

  // Remove message on click or keypress
  const removeMessage = () => {
    const messageElement = document.getElementById('message');
    if (messageElement) {
      messageElement.remove();
    }
  };

  window.addEventListener('click', removeMessage);
  window.addEventListener('keydown', removeMessage);

  // Remove message after 5 seconds
  setTimeout(() => {
    const messageElement = document.getElementById('message');
    if (messageElement) {
      messageElement.remove();
    }
  }, 5000);
</script>
{% endblock %}
